In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [97]:
### Extract CSVs into DataFrames

In [68]:
beer_states = "../Resources/beer_states.csv"
beer_states_df = pd.read_csv(beer_states)
beer_states_tot_df = beer_states_df[beer_states_df["state"]!="total"]
#beer_states_tot_df = beer_states_tot_df.groupby("year").sum()
beer_states_tot_df

     state  year   barrels              type
0       AK  2008   2067.69       On Premises
1       AK  2009   2263.65       On Premises
2       AK  2010   1929.15       On Premises
3       AK  2011   2251.02       On Premises
4       AK  2012   2312.43       On Premises
...    ...   ...       ...               ...
1855    WY  2015   9671.70  Kegs and Barrels
1856    WY  2016   8328.08  Kegs and Barrels
1857    WY  2017   8312.15  Kegs and Barrels
1858    WY  2018  16731.39  Kegs and Barrels
1859    WY  2019  18726.19  Kegs and Barrels

[1836 rows x 4 columns]

In [83]:
beer_states_df[beer_states_df["state"].str.contains("total")==False]

     state  year   barrels              type
0       AK  2008   2067.69       On Premises
1       AK  2009   2263.65       On Premises
2       AK  2010   1929.15       On Premises
3       AK  2011   2251.02       On Premises
4       AK  2012   2312.43       On Premises
...    ...   ...       ...               ...
1855    WY  2015   9671.70  Kegs and Barrels
1856    WY  2016   8328.08  Kegs and Barrels
1857    WY  2017   8312.15  Kegs and Barrels
1858    WY  2018  16731.39  Kegs and Barrels
1859    WY  2019  18726.19  Kegs and Barrels

[1836 rows x 4 columns]

In [91]:
types_states = beer_states_df.type.unique()
types_states_df = pd.DataFrame(types_states)
types_states_df

                  0
0       On Premises
1  Bottles and Cans
2  Kegs and Barrels

In [92]:
year_states = beer_states_df.year.unique()
year_states_df = pd.DataFrame(year_states)
year_states_df

       0
0   2008
1   2009
2   2010
3   2011
4   2012
5   2013
6   2014
7   2015
8   2016
9   2017
10  2018
11  2019

In [96]:
#brewer_size = "../Resources/brewer_size.csv"
#brewer_size_df = pd.read_csv(brewer_size)
#brewer_size_df.head()

In [51]:
brewing_materials = "../Resources/brewing_materials.csv"
brewing_materials_df = pd.read_csv(brewing_materials)
#brewing_materials_df = brewing_materials_df.sort_values(by="type")
brewing_materials_df.columns.values

array(['data_type', 'material_type', 'year', 'month', 'type',
       'month_current', 'month_prior_year', 'ytd_current',
       'ytd_prior_year'], dtype=object)

In [53]:
brewing_materials_df = brewing_materials_df[['material_type', 'year', 'month', 'type','month_current']]
#brewing_materials_df.reset_index(inplace=True)

brewing_materials_df

,material_type,year,month,type,month_current
0,Grain Products,2008,1,Malt and malt products,374165152
1,Grain Products,2008,1,Corn and corn products,57563519
2,Grain Products,2008,1,Rice and rice products,72402143
3,Grain Products,2008,1,Barley and barley products,3800844
4,Grain Products,2008,1,Wheat and wheat products,1177186
...,...,...,...,...,...
1435,Non-Grain Products,2017,12,Hops (dry),1453024
1436,Non-Grain Products,2017,12,Hops (used as extracts),2117
1437,Non-Grain Products,2017,12,Other,657306
1438,Total Non-Grain products,2017,12,Total Non-Grain products,2148660
1439,Total Used,2017,12,Total Used,16027407

In [63]:
brewing_materials_df = brewing_materials_df[brewing_materials_df["material_type"].str.contains("Total")==False]
brewing_materials_df

,material_type,year,month,type,month_current
0,Grain Products,2008,1,Malt and malt products,374165152
1,Grain Products,2008,1,Corn and corn products,57563519
2,Grain Products,2008,1,Rice and rice products,72402143
3,Grain Products,2008,1,Barley and barley products,3800844
4,Grain Products,2008,1,Wheat and wheat products,1177186
...,...,...,...,...,...
1432,Grain Products,2017,12,Wheat and wheat products,128174
1434,Non-Grain Products,2017,12,Sugar and syrups,36213
1435,Non-Grain Products,2017,12,Hops (dry),1453024
1436,Non-Grain Products,2017,12,Hops (used as extracts),2117
1437,Non-Grain Products,2017,12,Other,657306

In [64]:
brewing_materials_df[brewing_materials_df["type"].str.contains("Total")==False]

,material_type,year,month,type,month_current
0,Grain Products,2008,1,Malt and malt products,374165152
1,Grain Products,2008,1,Corn and corn products,57563519
2,Grain Products,2008,1,Rice and rice products,72402143
3,Grain Products,2008,1,Barley and barley products,3800844
4,Grain Products,2008,1,Wheat and wheat products,1177186
...,...,...,...,...,...
1432,Grain Products,2017,12,Wheat and wheat products,128174
1434,Non-Grain Products,2017,12,Sugar and syrups,36213
1435,Non-Grain Products,2017,12,Hops (dry),1453024
1436,Non-Grain Products,2017,12,Hops (used as extracts),2117
1437,Non-Grain Products,2017,12,Other,657306

In [79]:
types = brewing_materials_df.type.unique()
types

array(['Malt and malt products', 'Corn and corn products',
       'Rice and rice products', 'Barley and barley products',
       'Wheat and wheat products', 'Sugar and syrups', 'Hops (dry)',
       'Hops (used as extracts)', 'Other'], dtype=object)

In [80]:
types_df = pd.DataFrame(types)
types_df

                            0
0      Malt and malt products
1      Corn and corn products
2      Rice and rice products
3  Barley and barley products
4    Wheat and wheat products
5            Sugar and syrups
6                  Hops (dry)
7     Hops (used as extracts)
8                       Other

In [67]:
material_types = brewing_materials_df.material_type.unique()
material_types

array(['Grain Products', 'Non-Grain Products'], dtype=object)

In [72]:
material_types_df = pd.DataFrame(material_types)
material_types_df

                    0
0      Grain Products
1  Non-Grain Products

In [34]:
#brewing_materials_df.year.unique()

array([2009, 2012, 2015, 2010, 2011, 2016, 2013, 2017, 2008, 2014])

In [8]:
### Transform DataFrame

In [95]:
# Create a filtered dataframe from specific columns
#beer_states_cols = ["state", "year", "barrels", "type"]
#beer_states_transformed = beer_states_df[beer_states_cols].copy()

# Clean the data setting the index
#beer_states_transformed.set_index("year", inplace=True)
#beer_states_transformed.head()

In [94]:
# Create a filtered dataframe from specific columns
#brewer_size_cols = ["year", "brewer_size", "n_of_brewers", "total_barrels"]
#brewer_size_transformed = brewer_size_df[brewer_size_cols].copy()

# Clean the data by setting the index
#brewer_size_transformed.set_index("year", inplace=True)
#brewer_size_transformed.head()

In [93]:
# Create a filtered dataframe from specific columns
#brewing_materials_cols = ["material_type", "year", "month", "type", "month_current"]
#brewing_materials_transformed= brewing_materials_df[brewing_materials_cols].copy()

# Rename the column headers
#brewing_materials_transformed = brewing_materials_transformed.rename(columns={"month_current": "barrels"})

# Clean the data by dropping duplicates and setting the index
#brewing_materials_transformed.set_index("year", inplace=True)

#brewing_materials_transformed.head()